apisix:
  node_listen: 9080
  enable_admin: true
  extra_lua_path: "/opt/apisix/plugins/?.lua"

deployment:
  role: traditional
  role_traditional:
    config_provider: etcd
  admin:
    allow_admin:
      - 0.0.0.0/0
    admin_key:
      - name: admin
        key: edd1c9f034335f136f87ad84b625c8f1
        role: admin
  etcd:
    host:
      - "http://etcd:2379"
    prefix: /apisix
    timeout: 30

plugins:
  - request-logger
